.config/nvim/plugin/packer_compiled.lua
.config/nvim/session
.config/nvim/vue3-project.txt
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/thefuck/__pycache__
.secret.zsh
.config/DankMaterialShell
